<div class="mb-6">
  <%= link_to "â† Back to all posts", blog_posts_path, class: "text-blue-600 hover:text-blue-800 mb-4 inline-block" %>
</div>

<h1 class="text-3xl font-bold mb-6 text-gray-900">New Blog Post</h1>

<%= render "form", locals: {blog_post: @blog_post} %> 